main {
    max-width: 1128px;
    padding: 0 15px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

.search-form {
    margin-bottom: 32px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 72px 48px;
}

.photo-card {
    padding: 20px 24px;
    border: 1px solid #000;
}

.info {
    display: flex;
    justify-content: space-around;
}

.gallery__link {
    text-decoration: none;
    color: #000;
}

.info-item {
    text-decoration: none;

    align-items: center;
    text-align: center;
}